[submodule "./src/Mmcc.Bot.Polychat/Protos"]
	path = ./src/Mmcc.Bot.Polychat/Protos
	url = https://github.com/ModdedMinecraftClub/protos/
[submodule "src/Mmcc.Bot.Polychat/Protos"]
	path = src/Mmcc.Bot.Polychat/Protos
	url = https://github.com/ModdedMinecraftClub/protos
[submodule "src/porbeagle"]
	path = src/porbeagle
	url = https://github.com/TraceLD/porbeagle
